* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

nav {
  color: white;
  background-color: #131921;
  height: 100px; }
  nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1350px;
    margin: auto; }
    nav .container h1 {
      font-size: 50px;
      line-height: 100px; }
    nav .container .filter {
      width: 75%;
      display: flex;
      justify-content: end; }
      nav .container .filter h3 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px; }
      nav .container .filter h3:hover {
        cursor: pointer; }

.albumContent {
  padding-top: 75px;
  width: 1350px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white; }
  .albumContent .album {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px; }
    .albumContent .album img {
      width: 200px; }

.modal {
  position: fixed;
  /* animation: fadeIn 5s; */
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center; }
  .modal .bgModal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); }
  .modal .modalDisplay {
    position: relative;
    flex-wrap: wrap;
    z-index: 99;
    width: 800px;
    height: 725px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center; }
    .modal .modalDisplay .creaateAccount {
      display: flex;
      flex-wrap: flex;
      flex-direction: column; }
      .modal .modalDisplay .creaateAccount label {
        margin-top: 5px;
        margin-bottom: 5px; }
      .modal .modalDisplay .creaateAccount .modalIn {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px 5px 0px 0px;
        border: none;
        padding: 10px;
        background-color: #eaeded;
        border-bottom: solid black 2px; }
    .modal .modalDisplay .loginAccount {
      display: flex;
      flex-wrap: flex;
      flex-direction: column; }
      .modal .modalDisplay .loginAccount label {
        margin-top: 5px;
        margin-bottom: 5px; }
      .modal .modalDisplay .loginAccount .modalIn {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px 5px 0px 0px;
        border: none;
        padding: 10px;
        background-color: #eaeded;
        border-bottom: solid black 2px; }
    .modal .modalDisplay .GoogleLogin {
      width: 100%;
      display: flex;
      justify-content: center; }
      .modal .modalDisplay .GoogleLogin button {
        border-radius: 5px;
        padding: 10px;
        font-size: 15px;
        background-color: white;
        color: black; }
        .modal .modalDisplay .GoogleLogin button .span1 {
          color: #4285F4; }
        .modal .modalDisplay .GoogleLogin button .span2 {
          color: #EA4335; }
        .modal .modalDisplay .GoogleLogin button .span3 {
          color: #FBBC05; }
        .modal .modalDisplay .GoogleLogin button .span4 {
          color: #4285F4; }
        .modal .modalDisplay .GoogleLogin button .span5 {
          color: #34A853; }
        .modal .modalDisplay .GoogleLogin button .span6 {
          color: #EA4335; }
      .modal .modalDisplay .GoogleLogin button:hover {
        cursor: pointer; }

.modadlButton {
  border: none;
  padding: 10px;
  background-color: #2b7bcb;
  color: white;
  border-radius: 5px;
  margin-top: 12px;
  font-size: 18px; }

.modadlButton:hover {
  cursor: pointer; }
