.weatherInput{
    width: 900px;
    margin: auto;
    min-height: calc(100vh - 90px);
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    .userSettings{
        padding: 20px;
        width: 900px;
        margin: auto;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .zipcodeLabel{
            line-height: 50px;
            margin-right: 10px;
        }
        .daysLabel{
            margin-left: 20px;
            line-height: 50px;
            margin-right: 10px;
        }
        #zipcode{
            border-radius: 10px 0px 0px 10px;
            border: none;
            padding: 14px;
            font-size: 17px;
        }
        #submission{
            background-color:  #80dfff;
            color: white;
            padding: 14px;
            border: none;
            font-size: 17px;
            border-radius: 0px 10px 10px 0px;
        }
        #submission:hover{
            cursor: pointer;
        }
        #daysSelection{
            font-size: 17px;
            padding: 14px 18px 14px 18px;
            border: none;
            border-radius: 10px;
        }
    }
    .today{
        padding: 20px;
        width: 900px;
        margin: auto;
        .currentDay{
            width: 90%;
            display: block;
            border-radius: 8px;
            margin: auto;
            min-height: 500px;
            background-color: #0099ff; /* For browsers that do not support gradients */
            background-image: linear-gradient(180deg,  #007acc, #80ccff);
            display: flex;
            align-items: center;
            .glass{
                width: 90%;
                height: 450px;
                border-radius: 3px;
                text-align: center;
                color: white;
                margin: auto;
                // background: rgba(255,255,255,0.5);
                // backdrop-filter: saturate(180%) blur(10px);
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
                .InfoBox1{
                    width: 100%;
                    height: 450px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #feedback{
                        width: 85%;
                    }
                }
                .infoBox{
                    width: 100%;
                    height: 450px;
                    padding: 30px;
                    .conditionName{
                        width: 100%;
                        height: 120px;
                        display: flex;
                        justify-content: space-between;
                         align-items: center;
                        .location{
                            .local{
                                padding-bottom: 0px;
                                font-size: 40px;
                            }
                            .under{
                                background-color: white;
                                border: none;
                                height: 2px;
                                width: calc(100% + 20px);
                                margin-left: -20px;
                            }
                            .desc{
                                margin-top: 10px;
                                text-align: right;
                            }
                        }
                    }
                    .tempature{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .moreInfo{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        margin-top: 15px;
                        .extras{
                            width: 24%;
                            height:220px;
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            img{
                                margin-left: auto;
                                margin-right: auto;
                            }
                            h2{
                                position: absolute;
                                bottom: 0px;
                                text-align: center;
                                width: 100%;
                            }

                            h3{
                                font-size: 15px;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }  
    }
    .forcast{
        width: 900px;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: center;
        .day{
            width: 25%;
            min-height:400px;
            text-align: center;
            .dayName{
                padding-bottom: 16px;
            }
            .temp{
                padding-bottom: 5px;
            }
        }
        .day:nth-child(2){
            border-left: 2px solid #282A35;
        }
        .day:nth-child(3){
            border-left: 2px solid #282A35;
        }
        .day:nth-child(4){
            border-left: 2px solid #282A35;
        }

    }
}